*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: 'Space Grotesk', sans-serif;
  --color-grey-100:rgb(161 161 161);
  --color-grey-200:rgb(130,130,130);
  --primary-color:rgb(1, 0, 39);
}
body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}


